language: go
sudo: required
go:
    - 1.7.4
os:
    - linux

env:
    global:
        - SSH_KEY="id_rsa"
        - GIT_NAME="cnsworder"
        - GIT_EMAIL="cnsworder@gmail.com"
install:
    - go get -u -v github.com/spf13/hugo

script:
    - hugo
before_install:
    - sudo pip install docutils

after_script:
    - cd public
    - git add .
    - git commit -m "Update blog"
    - git push --force "https://${GH_TOKEN}@${GH_REF}" master
