language: go
sudo: required
go:
    - 1.7.4
os:
    - linux

env:
    global:
        - SSH_KEY="id_rsa"
        - GIT_NAME="cnsworder"
        - GIT_EMAIL="cnsworder@gmail.com"

git:
    submodules: false

install:
    - go get -u -v github.com/spf13/hugo

script:
    - hugo


before_install:
    - sudo pip install docutils

after_script:
    - cd public
    - git init
    - git config --global user.name "cnsworder"
    - git config --global user.email "cnsworder@gmail.com"
    - echo "www.cpio.date" > CNAME
    - git add .
    - git commit -m "Update blog"
    - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:master
